--
-- PostgreSQL database dump
--

\restrict qGeVBP1ppe9woP18lMUEJScyLJOQQ7Adlvg2EIgq9OSfAaKl6xB6RQ2g8lenhnB

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: app_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO app_user;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: app_user
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_activity_logs; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.admin_activity_logs (
    id uuid NOT NULL,
    admin_id uuid,
    action character varying,
    entity_type character varying,
    entity_id uuid,
    created_at timestamp without time zone
);


ALTER TABLE public.admin_activity_logs OWNER TO app_user;

--
-- Name: admin_notes; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.admin_notes (
    id uuid NOT NULL,
    entity_type character varying,
    entity_id uuid,
    note text,
    created_by uuid,
    created_at timestamp without time zone
);


ALTER TABLE public.admin_notes OWNER TO app_user;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO app_user;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.categories (
    id uuid NOT NULL,
    code character varying NOT NULL,
    type character varying NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.categories OWNER TO app_user;

--
-- Name: category_translations; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.category_translations (
    id uuid NOT NULL,
    category_id uuid NOT NULL,
    locale character varying(10) NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.category_translations OWNER TO app_user;

--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.chat_messages (
    id uuid NOT NULL,
    chat_room_id uuid,
    sender_id uuid,
    message_type character varying,
    content text,
    created_at timestamp without time zone,
    edited_at timestamp without time zone,
    deleted_at timestamp without time zone,
    read_at timestamp without time zone
);


ALTER TABLE public.chat_messages OWNER TO app_user;

--
-- Name: COLUMN chat_messages.message_type; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.chat_messages.message_type IS 'text | file | system';


--
-- Name: chat_participants; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.chat_participants (
    id uuid NOT NULL,
    chat_room_id uuid,
    user_id uuid,
    joined_at timestamp without time zone
);


ALTER TABLE public.chat_participants OWNER TO app_user;

--
-- Name: chat_rooms; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.chat_rooms (
    id uuid NOT NULL,
    room_type character varying,
    job_assignment_id uuid,
    peer_user_id uuid,
    name character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.chat_rooms OWNER TO app_user;

--
-- Name: COLUMN chat_rooms.room_type; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.chat_rooms.room_type IS 'dm | project | main';


--
-- Name: file_access_logs; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.file_access_logs (
    id uuid NOT NULL,
    file_id uuid,
    user_id uuid,
    action character varying,
    ip_address character varying,
    user_agent text,
    created_at timestamp without time zone
);


ALTER TABLE public.file_access_logs OWNER TO app_user;

--
-- Name: COLUMN file_access_logs.action; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.file_access_logs.action IS 'upload | download';


--
-- Name: files; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.files (
    id uuid NOT NULL,
    owner_id uuid,
    original_name character varying,
    mime_type character varying,
    file_size bigint,
    storage_provider character varying,
    storage_path character varying,
    file_url character varying,
    context character varying,
    context_id uuid,
    is_temporary boolean,
    delete_after timestamp without time zone,
    created_at timestamp without time zone
);


ALTER TABLE public.files OWNER TO app_user;

--
-- Name: COLUMN files.storage_provider; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.files.storage_provider IS 'minio';


--
-- Name: job_assignments; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.job_assignments (
    id uuid NOT NULL,
    job_id uuid,
    client_id uuid,
    freelancer_id uuid,
    status character varying,
    completed_at timestamp without time zone,
    created_at timestamp without time zone
);


ALTER TABLE public.job_assignments OWNER TO app_user;

--
-- Name: COLUMN job_assignments.status; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.job_assignments.status IS 'accepted | in_progress | completed | cancelled';


--
-- Name: job_categories; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.job_categories (
    job_id uuid NOT NULL,
    category_id uuid NOT NULL
);


ALTER TABLE public.job_categories OWNER TO app_user;

--
-- Name: job_completion_confirmations; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.job_completion_confirmations (
    id uuid NOT NULL,
    job_assignment_id uuid NOT NULL,
    user_id uuid NOT NULL,
    role character varying,
    confirmed_at timestamp without time zone
);


ALTER TABLE public.job_completion_confirmations OWNER TO app_user;

--
-- Name: COLUMN job_completion_confirmations.role; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.job_completion_confirmations.role IS 'client | freelancer';


--
-- Name: job_completion_reminders; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.job_completion_reminders (
    id uuid NOT NULL,
    job_assignment_id uuid,
    user_id uuid,
    reminder_type character varying,
    sent_at timestamp without time zone
);


ALTER TABLE public.job_completion_reminders OWNER TO app_user;

--
-- Name: COLUMN job_completion_reminders.reminder_type; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.job_completion_reminders.reminder_type IS 'confirmation_pending';


--
-- Name: job_completion_status; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.job_completion_status (
    id uuid NOT NULL,
    job_assignment_id uuid NOT NULL,
    completed_at timestamp without time zone,
    auto_release_at timestamp without time zone,
    status character varying,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.job_completion_status OWNER TO app_user;

--
-- Name: COLUMN job_completion_status.status; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.job_completion_status.status IS 'waiting_confirmation | released | disputed';


--
-- Name: job_milestones; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.job_milestones (
    id uuid NOT NULL,
    job_assignment_id uuid,
    title character varying,
    description text,
    sequence integer,
    due_date date,
    status character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.job_milestones OWNER TO app_user;

--
-- Name: COLUMN job_milestones.status; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.job_milestones.status IS 'pending | submitted | approved | rejected';


--
-- Name: job_offers; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.job_offers (
    id uuid NOT NULL,
    job_id uuid NOT NULL,
    client_id uuid NOT NULL,
    freelancer_id uuid NOT NULL,
    offer_type character varying,
    scope text,
    proposed_budget numeric,
    currency character varying,
    message text,
    status character varying,
    rejection_reason text,
    responded_at timestamp without time zone,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.job_offers OWNER TO app_user;

--
-- Name: COLUMN job_offers.offer_type; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.job_offers.offer_type IS 'proposal | direct_invite';


--
-- Name: COLUMN job_offers.status; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.job_offers.status IS 'pending | accepted | rejected | cancelled';


--
-- Name: jobs; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.jobs (
    id uuid NOT NULL,
    owner_id uuid,
    title character varying,
    description text,
    budget numeric,
    currency character varying,
    status character varying,
    created_at timestamp without time zone,
    published_at timestamp without time zone,
    expires_at timestamp without time zone,
    CONSTRAINT jobs_status_check CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'open'::character varying, 'active'::character varying, 'complete'::character varying, 'cancelled'::character varying])::text[])))
);


ALTER TABLE public.jobs OWNER TO app_user;

--
-- Name: COLUMN jobs.status; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.jobs.status IS 'draft | open | closed | cancelled';


--
-- Name: kyc_id_cards; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.kyc_id_cards (
    id integer NOT NULL,
    kyc_profile_id integer NOT NULL,
    front_image_file_id uuid,
    status character varying,
    reviewed_by uuid,
    reviewed_at timestamp without time zone
);


ALTER TABLE public.kyc_id_cards OWNER TO app_user;

--
-- Name: COLUMN kyc_id_cards.status; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.kyc_id_cards.status IS 'pending | approved | rejected';


--
-- Name: kyc_id_cards_id_seq; Type: SEQUENCE; Schema: public; Owner: app_user
--

ALTER TABLE public.kyc_id_cards ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.kyc_id_cards_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: kyc_profiles; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.kyc_profiles (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    full_name character varying,
    citizen_id character varying,
    date_of_birth date,
    country character varying,
    address text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.kyc_profiles OWNER TO app_user;

--
-- Name: kyc_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: app_user
--

ALTER TABLE public.kyc_profiles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.kyc_profiles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: kyc_selfies; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.kyc_selfies (
    id integer NOT NULL,
    kyc_profile_id integer NOT NULL,
    image_file_id uuid,
    status character varying,
    reviewed_by uuid,
    reviewed_at timestamp without time zone
);


ALTER TABLE public.kyc_selfies OWNER TO app_user;

--
-- Name: COLUMN kyc_selfies.status; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.kyc_selfies.status IS 'pending | approved | rejected';


--
-- Name: kyc_selfies_id_seq; Type: SEQUENCE; Schema: public; Owner: app_user
--

ALTER TABLE public.kyc_selfies ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.kyc_selfies_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: kyc_status; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.kyc_status (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    status character varying,
    reason text,
    updated_at timestamp without time zone
);


ALTER TABLE public.kyc_status OWNER TO app_user;

--
-- Name: COLUMN kyc_status.status; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.kyc_status.status IS 'not_submitted | pending | approved | rejected';


--
-- Name: kyc_status_id_seq; Type: SEQUENCE; Schema: public; Owner: app_user
--

ALTER TABLE public.kyc_status ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.kyc_status_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: milestone_payments; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.milestone_payments (
    id uuid NOT NULL,
    job_assignment_id uuid,
    milestone_id uuid,
    client_id uuid,
    freelancer_id uuid,
    amount numeric,
    currency character varying,
    status character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.milestone_payments OWNER TO app_user;

--
-- Name: COLUMN milestone_payments.status; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.milestone_payments.status IS 'pending | on_hold | released | refunded';


--
-- Name: milestone_submissions; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.milestone_submissions (
    id uuid NOT NULL,
    milestone_id uuid,
    submitted_by uuid,
    revision_number integer,
    message text,
    status character varying,
    submitted_at timestamp without time zone,
    reviewed_at timestamp without time zone
);


ALTER TABLE public.milestone_submissions OWNER TO app_user;

--
-- Name: COLUMN milestone_submissions.status; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.milestone_submissions.status IS 'submitted | approved | rejected';


--
-- Name: notification_settings; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.notification_settings (
    id uuid NOT NULL,
    user_id uuid,
    enable_in_app boolean,
    enable_email boolean
);


ALTER TABLE public.notification_settings OWNER TO app_user;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.notifications (
    id uuid NOT NULL,
    user_id uuid,
    type character varying,
    message text,
    is_read boolean,
    created_at timestamp without time zone
);


ALTER TABLE public.notifications OWNER TO app_user;

--
-- Name: omise_recipients; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.omise_recipients (
    id uuid NOT NULL,
    payout_account_id uuid NOT NULL,
    omise_recipient_id character varying NOT NULL,
    omise_bank_code character varying,
    omise_account_last4 character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.omise_recipients OWNER TO app_user;

--
-- Name: payout_accounts; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.payout_accounts (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    bank_name character varying,
    bank_code character varying,
    account_name character varying,
    account_number character varying,
    consent_given boolean DEFAULT false,
    consent_given_at timestamp without time zone,
    status character varying,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.payout_accounts OWNER TO app_user;

--
-- Name: COLUMN payout_accounts.status; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.payout_accounts.status IS 'draft | consented | verified | active | suspended';


--
-- Name: post_categories; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.post_categories (
    post_id uuid NOT NULL,
    category_id uuid NOT NULL
);


ALTER TABLE public.post_categories OWNER TO app_user;

--
-- Name: project_activity_logs; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.project_activity_logs (
    id uuid NOT NULL,
    job_assignment_id uuid NOT NULL,
    actor_id uuid,
    actor_role character varying,
    action character varying,
    description text,
    entity_type character varying,
    entity_id uuid,
    created_at timestamp without time zone
);


ALTER TABLE public.project_activity_logs OWNER TO app_user;

--
-- Name: COLUMN project_activity_logs.actor_role; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.project_activity_logs.actor_role IS 'client | freelancer | system | admin';


--
-- Name: roles; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying,
    description text
);


ALTER TABLE public.roles OWNER TO app_user;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: app_user
--

ALTER TABLE public.roles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: transactions; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.transactions (
    id uuid NOT NULL,
    user_id uuid,
    job_assignment_id uuid,
    milestone_id uuid,
    amount numeric,
    currency character varying,
    direction character varying,
    type character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.transactions OWNER TO app_user;

--
-- Name: COLUMN transactions.direction; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.transactions.direction IS 'debit | credit';


--
-- Name: COLUMN transactions.type; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.transactions.type IS 'hold | release | refund | payout';


--
-- Name: user_activity_logs; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.user_activity_logs (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    action character varying,
    description text,
    entity_type character varying,
    entity_id uuid,
    ip_address character varying,
    user_agent text,
    created_at timestamp without time zone
);


ALTER TABLE public.user_activity_logs OWNER TO app_user;

--
-- Name: user_follows; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.user_follows (
    id uuid NOT NULL,
    follower_id uuid,
    following_id uuid,
    created_at timestamp without time zone
);


ALTER TABLE public.user_follows OWNER TO app_user;

--
-- Name: user_hold_balances; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.user_hold_balances (
    id uuid NOT NULL,
    user_id uuid,
    job_assignment_id uuid,
    milestone_id uuid,
    amount numeric,
    currency character varying,
    status character varying,
    created_at timestamp without time zone,
    released_at timestamp without time zone
);


ALTER TABLE public.user_hold_balances OWNER TO app_user;

--
-- Name: COLUMN user_hold_balances.status; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.user_hold_balances.status IS 'on_hold | released | refunded';


--
-- Name: user_post_comments; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.user_post_comments (
    id uuid NOT NULL,
    post_id uuid,
    user_id uuid,
    comment text,
    created_at timestamp without time zone
);


ALTER TABLE public.user_post_comments OWNER TO app_user;

--
-- Name: user_post_likes; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.user_post_likes (
    id uuid NOT NULL,
    post_id uuid,
    user_id uuid,
    created_at timestamp without time zone
);


ALTER TABLE public.user_post_likes OWNER TO app_user;

--
-- Name: user_post_media; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.user_post_media (
    id uuid NOT NULL,
    post_id uuid,
    file_id uuid
);


ALTER TABLE public.user_post_media OWNER TO app_user;

--
-- Name: user_post_notification_settings; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.user_post_notification_settings (
    id uuid NOT NULL,
    post_id uuid NOT NULL,
    user_id uuid NOT NULL,
    mute_all boolean DEFAULT false,
    mute_like boolean DEFAULT false,
    mute_comment boolean DEFAULT false,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.user_post_notification_settings OWNER TO app_user;

--
-- Name: user_posts; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.user_posts (
    id uuid NOT NULL,
    user_id uuid,
    title character varying,
    description text,
    is_pinned boolean DEFAULT false,
    is_deleted boolean DEFAULT false,
    created_at timestamp without time zone
);


ALTER TABLE public.user_posts OWNER TO app_user;

--
-- Name: user_review_comments; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.user_review_comments (
    id uuid NOT NULL,
    review_id uuid,
    user_id uuid,
    comment text,
    created_at timestamp without time zone
);


ALTER TABLE public.user_review_comments OWNER TO app_user;

--
-- Name: user_reviews; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.user_reviews (
    id uuid NOT NULL,
    job_assignment_id uuid,
    reviewer_id uuid,
    reviewee_id uuid,
    rating integer,
    comment text,
    created_at timestamp without time zone
);


ALTER TABLE public.user_reviews OWNER TO app_user;

--
-- Name: COLUMN user_reviews.rating; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.user_reviews.rating IS '1-5';


--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.user_roles (
    id integer NOT NULL,
    user_id uuid,
    role_id integer,
    assigned_at timestamp without time zone
);


ALTER TABLE public.user_roles OWNER TO app_user;

--
-- Name: user_roles_id_seq; Type: SEQUENCE; Schema: public; Owner: app_user
--

ALTER TABLE public.user_roles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_security_logs; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.user_security_logs (
    id integer NOT NULL,
    user_id uuid,
    action character varying,
    ip_address character varying,
    user_agent text,
    created_at timestamp without time zone
);


ALTER TABLE public.user_security_logs OWNER TO app_user;

--
-- Name: COLUMN user_security_logs.action; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.user_security_logs.action IS 'login_failed | suspicious_activity';


--
-- Name: user_security_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: app_user
--

ALTER TABLE public.user_security_logs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_security_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_social_links; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.user_social_links (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    platform character varying,
    url character varying NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.user_social_links OWNER TO app_user;

--
-- Name: COLUMN user_social_links.platform; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.user_social_links.platform IS 'facebook | linkedin | twitter';


--
-- Name: users; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    keycloak_user_id uuid NOT NULL,
    email character varying NOT NULL,
    phone character varying,
    status character varying,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    firstname character varying,
    lastname character varying,
    username character varying
);


ALTER TABLE public.users OWNER TO app_user;

--
-- Name: COLUMN users.status; Type: COMMENT; Schema: public; Owner: app_user
--

COMMENT ON COLUMN public.users.status IS 'active | suspended | deleted';


--
-- Name: admin_activity_logs admin_activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.admin_activity_logs
    ADD CONSTRAINT admin_activity_logs_pkey PRIMARY KEY (id);


--
-- Name: admin_notes admin_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.admin_notes
    ADD CONSTRAINT admin_notes_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: categories categories_code_key; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_code_key UNIQUE (code);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: category_translations category_translations_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.category_translations
    ADD CONSTRAINT category_translations_pkey PRIMARY KEY (id);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: chat_participants chat_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.chat_participants
    ADD CONSTRAINT chat_participants_pkey PRIMARY KEY (id);


--
-- Name: chat_rooms chat_rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.chat_rooms
    ADD CONSTRAINT chat_rooms_pkey PRIMARY KEY (id);


--
-- Name: file_access_logs file_access_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.file_access_logs
    ADD CONSTRAINT file_access_logs_pkey PRIMARY KEY (id);


--
-- Name: files files_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT files_pkey PRIMARY KEY (id);


--
-- Name: job_assignments job_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_assignments
    ADD CONSTRAINT job_assignments_pkey PRIMARY KEY (id);


--
-- Name: job_categories job_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_categories
    ADD CONSTRAINT job_categories_pkey PRIMARY KEY (job_id, category_id);


--
-- Name: job_completion_confirmations job_completion_confirmations_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_completion_confirmations
    ADD CONSTRAINT job_completion_confirmations_pkey PRIMARY KEY (id);


--
-- Name: job_completion_reminders job_completion_reminders_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_completion_reminders
    ADD CONSTRAINT job_completion_reminders_pkey PRIMARY KEY (id);


--
-- Name: job_completion_status job_completion_status_job_assignment_id_key; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_completion_status
    ADD CONSTRAINT job_completion_status_job_assignment_id_key UNIQUE (job_assignment_id);


--
-- Name: job_completion_status job_completion_status_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_completion_status
    ADD CONSTRAINT job_completion_status_pkey PRIMARY KEY (id);


--
-- Name: job_milestones job_milestones_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_milestones
    ADD CONSTRAINT job_milestones_pkey PRIMARY KEY (id);


--
-- Name: job_offers job_offers_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_offers
    ADD CONSTRAINT job_offers_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: kyc_id_cards kyc_id_cards_kyc_profile_id_key; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.kyc_id_cards
    ADD CONSTRAINT kyc_id_cards_kyc_profile_id_key UNIQUE (kyc_profile_id);


--
-- Name: kyc_id_cards kyc_id_cards_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.kyc_id_cards
    ADD CONSTRAINT kyc_id_cards_pkey PRIMARY KEY (id);


--
-- Name: kyc_profiles kyc_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.kyc_profiles
    ADD CONSTRAINT kyc_profiles_pkey PRIMARY KEY (id);


--
-- Name: kyc_profiles kyc_profiles_user_id_key; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.kyc_profiles
    ADD CONSTRAINT kyc_profiles_user_id_key UNIQUE (user_id);


--
-- Name: kyc_selfies kyc_selfies_kyc_profile_id_key; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.kyc_selfies
    ADD CONSTRAINT kyc_selfies_kyc_profile_id_key UNIQUE (kyc_profile_id);


--
-- Name: kyc_selfies kyc_selfies_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.kyc_selfies
    ADD CONSTRAINT kyc_selfies_pkey PRIMARY KEY (id);


--
-- Name: kyc_status kyc_status_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.kyc_status
    ADD CONSTRAINT kyc_status_pkey PRIMARY KEY (id);


--
-- Name: kyc_status kyc_status_user_id_key; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.kyc_status
    ADD CONSTRAINT kyc_status_user_id_key UNIQUE (user_id);


--
-- Name: milestone_payments milestone_payments_milestone_id_key; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.milestone_payments
    ADD CONSTRAINT milestone_payments_milestone_id_key UNIQUE (milestone_id);


--
-- Name: milestone_payments milestone_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.milestone_payments
    ADD CONSTRAINT milestone_payments_pkey PRIMARY KEY (id);


--
-- Name: milestone_submissions milestone_submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.milestone_submissions
    ADD CONSTRAINT milestone_submissions_pkey PRIMARY KEY (id);


--
-- Name: notification_settings notification_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.notification_settings
    ADD CONSTRAINT notification_settings_pkey PRIMARY KEY (id);


--
-- Name: notification_settings notification_settings_user_id_key; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.notification_settings
    ADD CONSTRAINT notification_settings_user_id_key UNIQUE (user_id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: omise_recipients omise_recipients_omise_recipient_id_key; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.omise_recipients
    ADD CONSTRAINT omise_recipients_omise_recipient_id_key UNIQUE (omise_recipient_id);


--
-- Name: omise_recipients omise_recipients_payout_account_id_key; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.omise_recipients
    ADD CONSTRAINT omise_recipients_payout_account_id_key UNIQUE (payout_account_id);


--
-- Name: omise_recipients omise_recipients_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.omise_recipients
    ADD CONSTRAINT omise_recipients_pkey PRIMARY KEY (id);


--
-- Name: payout_accounts payout_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.payout_accounts
    ADD CONSTRAINT payout_accounts_pkey PRIMARY KEY (id);


--
-- Name: payout_accounts payout_accounts_user_id_key; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.payout_accounts
    ADD CONSTRAINT payout_accounts_user_id_key UNIQUE (user_id);


--
-- Name: post_categories post_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.post_categories
    ADD CONSTRAINT post_categories_pkey PRIMARY KEY (post_id, category_id);


--
-- Name: project_activity_logs project_activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.project_activity_logs
    ADD CONSTRAINT project_activity_logs_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: category_translations uq_category_locale; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.category_translations
    ADD CONSTRAINT uq_category_locale UNIQUE (category_id, locale);


--
-- Name: user_activity_logs user_activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_activity_logs
    ADD CONSTRAINT user_activity_logs_pkey PRIMARY KEY (id);


--
-- Name: user_follows user_follows_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_follows
    ADD CONSTRAINT user_follows_pkey PRIMARY KEY (id);


--
-- Name: user_hold_balances user_hold_balances_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_hold_balances
    ADD CONSTRAINT user_hold_balances_pkey PRIMARY KEY (id);


--
-- Name: user_post_comments user_post_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_post_comments
    ADD CONSTRAINT user_post_comments_pkey PRIMARY KEY (id);


--
-- Name: user_post_likes user_post_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_post_likes
    ADD CONSTRAINT user_post_likes_pkey PRIMARY KEY (id);


--
-- Name: user_post_media user_post_media_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_post_media
    ADD CONSTRAINT user_post_media_pkey PRIMARY KEY (id);


--
-- Name: user_post_notification_settings user_post_notification_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_post_notification_settings
    ADD CONSTRAINT user_post_notification_settings_pkey PRIMARY KEY (id);


--
-- Name: user_posts user_posts_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_posts
    ADD CONSTRAINT user_posts_pkey PRIMARY KEY (id);


--
-- Name: user_review_comments user_review_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_review_comments
    ADD CONSTRAINT user_review_comments_pkey PRIMARY KEY (id);


--
-- Name: user_reviews user_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_reviews
    ADD CONSTRAINT user_reviews_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (id);


--
-- Name: user_security_logs user_security_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_security_logs
    ADD CONSTRAINT user_security_logs_pkey PRIMARY KEY (id);


--
-- Name: user_social_links user_social_links_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_social_links
    ADD CONSTRAINT user_social_links_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_keycloak_user_id_key; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_keycloak_user_id_key UNIQUE (keycloak_user_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: admin_activity_logs admin_activity_logs_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.admin_activity_logs
    ADD CONSTRAINT admin_activity_logs_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.users(id);


--
-- Name: admin_notes admin_notes_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.admin_notes
    ADD CONSTRAINT admin_notes_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: category_translations category_translations_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.category_translations
    ADD CONSTRAINT category_translations_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE CASCADE;


--
-- Name: chat_messages chat_messages_chat_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_chat_room_id_fkey FOREIGN KEY (chat_room_id) REFERENCES public.chat_rooms(id);


--
-- Name: chat_messages chat_messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: chat_participants chat_participants_chat_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.chat_participants
    ADD CONSTRAINT chat_participants_chat_room_id_fkey FOREIGN KEY (chat_room_id) REFERENCES public.chat_rooms(id);


--
-- Name: chat_participants chat_participants_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.chat_participants
    ADD CONSTRAINT chat_participants_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: chat_rooms chat_rooms_job_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.chat_rooms
    ADD CONSTRAINT chat_rooms_job_assignment_id_fkey FOREIGN KEY (job_assignment_id) REFERENCES public.job_assignments(id);


--
-- Name: chat_rooms chat_rooms_peer_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.chat_rooms
    ADD CONSTRAINT chat_rooms_peer_user_id_fkey FOREIGN KEY (peer_user_id) REFERENCES public.users(id);


--
-- Name: files files_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT files_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: job_assignments job_assignments_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_assignments
    ADD CONSTRAINT job_assignments_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id);


--
-- Name: job_assignments job_assignments_freelancer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_assignments
    ADD CONSTRAINT job_assignments_freelancer_id_fkey FOREIGN KEY (freelancer_id) REFERENCES public.users(id);


--
-- Name: job_assignments job_assignments_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_assignments
    ADD CONSTRAINT job_assignments_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id);


--
-- Name: job_categories job_categories_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_categories
    ADD CONSTRAINT job_categories_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE CASCADE;


--
-- Name: job_categories job_categories_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_categories
    ADD CONSTRAINT job_categories_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: job_completion_confirmations job_completion_confirmations_job_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_completion_confirmations
    ADD CONSTRAINT job_completion_confirmations_job_assignment_id_fkey FOREIGN KEY (job_assignment_id) REFERENCES public.job_assignments(id);


--
-- Name: job_completion_confirmations job_completion_confirmations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_completion_confirmations
    ADD CONSTRAINT job_completion_confirmations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: job_milestones job_milestones_job_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_milestones
    ADD CONSTRAINT job_milestones_job_assignment_id_fkey FOREIGN KEY (job_assignment_id) REFERENCES public.job_assignments(id);


--
-- Name: job_offers job_offers_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_offers
    ADD CONSTRAINT job_offers_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id);


--
-- Name: job_offers job_offers_freelancer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_offers
    ADD CONSTRAINT job_offers_freelancer_id_fkey FOREIGN KEY (freelancer_id) REFERENCES public.users(id);


--
-- Name: job_offers job_offers_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.job_offers
    ADD CONSTRAINT job_offers_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id);


--
-- Name: jobs jobs_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: kyc_id_cards kyc_id_cards_front_image_file_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.kyc_id_cards
    ADD CONSTRAINT kyc_id_cards_front_image_file_id_fkey FOREIGN KEY (front_image_file_id) REFERENCES public.files(id);


--
-- Name: kyc_id_cards kyc_id_cards_kyc_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.kyc_id_cards
    ADD CONSTRAINT kyc_id_cards_kyc_profile_id_fkey FOREIGN KEY (kyc_profile_id) REFERENCES public.kyc_profiles(id);


--
-- Name: kyc_id_cards kyc_id_cards_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.kyc_id_cards
    ADD CONSTRAINT kyc_id_cards_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id);


--
-- Name: kyc_profiles kyc_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.kyc_profiles
    ADD CONSTRAINT kyc_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: kyc_selfies kyc_selfies_image_file_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.kyc_selfies
    ADD CONSTRAINT kyc_selfies_image_file_id_fkey FOREIGN KEY (image_file_id) REFERENCES public.files(id);


--
-- Name: kyc_selfies kyc_selfies_kyc_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.kyc_selfies
    ADD CONSTRAINT kyc_selfies_kyc_profile_id_fkey FOREIGN KEY (kyc_profile_id) REFERENCES public.kyc_profiles(id);


--
-- Name: kyc_selfies kyc_selfies_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.kyc_selfies
    ADD CONSTRAINT kyc_selfies_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id);


--
-- Name: kyc_status kyc_status_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.kyc_status
    ADD CONSTRAINT kyc_status_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: milestone_payments milestone_payments_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.milestone_payments
    ADD CONSTRAINT milestone_payments_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id);


--
-- Name: milestone_payments milestone_payments_freelancer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.milestone_payments
    ADD CONSTRAINT milestone_payments_freelancer_id_fkey FOREIGN KEY (freelancer_id) REFERENCES public.users(id);


--
-- Name: milestone_payments milestone_payments_job_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.milestone_payments
    ADD CONSTRAINT milestone_payments_job_assignment_id_fkey FOREIGN KEY (job_assignment_id) REFERENCES public.job_assignments(id);


--
-- Name: milestone_submissions milestone_submissions_milestone_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.milestone_submissions
    ADD CONSTRAINT milestone_submissions_milestone_id_fkey FOREIGN KEY (milestone_id) REFERENCES public.job_milestones(id);


--
-- Name: notification_settings notification_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.notification_settings
    ADD CONSTRAINT notification_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: omise_recipients omise_recipients_payout_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.omise_recipients
    ADD CONSTRAINT omise_recipients_payout_account_id_fkey FOREIGN KEY (payout_account_id) REFERENCES public.payout_accounts(id);


--
-- Name: payout_accounts payout_accounts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.payout_accounts
    ADD CONSTRAINT payout_accounts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: post_categories post_categories_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.post_categories
    ADD CONSTRAINT post_categories_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE CASCADE;


--
-- Name: post_categories post_categories_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.post_categories
    ADD CONSTRAINT post_categories_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.user_posts(id) ON DELETE CASCADE;


--
-- Name: project_activity_logs project_activity_logs_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.project_activity_logs
    ADD CONSTRAINT project_activity_logs_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id);


--
-- Name: project_activity_logs project_activity_logs_job_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.project_activity_logs
    ADD CONSTRAINT project_activity_logs_job_assignment_id_fkey FOREIGN KEY (job_assignment_id) REFERENCES public.job_assignments(id);


--
-- Name: transactions transactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_activity_logs user_activity_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_activity_logs
    ADD CONSTRAINT user_activity_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_follows user_follows_follower_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_follows
    ADD CONSTRAINT user_follows_follower_id_fkey FOREIGN KEY (follower_id) REFERENCES public.users(id);


--
-- Name: user_follows user_follows_following_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_follows
    ADD CONSTRAINT user_follows_following_id_fkey FOREIGN KEY (following_id) REFERENCES public.users(id);


--
-- Name: user_hold_balances user_hold_balances_job_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_hold_balances
    ADD CONSTRAINT user_hold_balances_job_assignment_id_fkey FOREIGN KEY (job_assignment_id) REFERENCES public.job_assignments(id);


--
-- Name: user_hold_balances user_hold_balances_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_hold_balances
    ADD CONSTRAINT user_hold_balances_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_post_comments user_post_comments_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_post_comments
    ADD CONSTRAINT user_post_comments_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.user_posts(id);


--
-- Name: user_post_comments user_post_comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_post_comments
    ADD CONSTRAINT user_post_comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_post_likes user_post_likes_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_post_likes
    ADD CONSTRAINT user_post_likes_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.user_posts(id);


--
-- Name: user_post_likes user_post_likes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_post_likes
    ADD CONSTRAINT user_post_likes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_post_media user_post_media_file_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_post_media
    ADD CONSTRAINT user_post_media_file_id_fkey FOREIGN KEY (file_id) REFERENCES public.files(id);


--
-- Name: user_post_media user_post_media_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_post_media
    ADD CONSTRAINT user_post_media_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.user_posts(id);


--
-- Name: user_post_notification_settings user_post_notification_settings_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_post_notification_settings
    ADD CONSTRAINT user_post_notification_settings_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.user_posts(id);


--
-- Name: user_post_notification_settings user_post_notification_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_post_notification_settings
    ADD CONSTRAINT user_post_notification_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_posts user_posts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_posts
    ADD CONSTRAINT user_posts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_review_comments user_review_comments_review_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_review_comments
    ADD CONSTRAINT user_review_comments_review_id_fkey FOREIGN KEY (review_id) REFERENCES public.user_reviews(id);


--
-- Name: user_review_comments user_review_comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_review_comments
    ADD CONSTRAINT user_review_comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_reviews user_reviews_job_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_reviews
    ADD CONSTRAINT user_reviews_job_assignment_id_fkey FOREIGN KEY (job_assignment_id) REFERENCES public.job_assignments(id);


--
-- Name: user_reviews user_reviews_reviewee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_reviews
    ADD CONSTRAINT user_reviews_reviewee_id_fkey FOREIGN KEY (reviewee_id) REFERENCES public.users(id);


--
-- Name: user_reviews user_reviews_reviewer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_reviews
    ADD CONSTRAINT user_reviews_reviewer_id_fkey FOREIGN KEY (reviewer_id) REFERENCES public.users(id);


--
-- Name: user_roles user_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: user_roles user_roles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_security_logs user_security_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_security_logs
    ADD CONSTRAINT user_security_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_social_links user_social_links_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.user_social_links
    ADD CONSTRAINT user_social_links_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: app_user
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict qGeVBP1ppe9woP18lMUEJScyLJOQQ7Adlvg2EIgq9OSfAaKl6xB6RQ2g8lenhnB

